.title {
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title > button {
    color: white;
    width: 90x;
    height: 25px;
    background-color: transparent;
    margin-top: 20px;
}

.search {
    width: 800px;
    height: 30px;
}

#cards {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap; /* 줄바꿈을 허용시켜준다. */
    width: 100%;
    gap: 12px;
}

#cards .card {
    width: 16%;
}

.card img {
    width: 100%;
    aspect-ratio: 9/16;
    object-fit: cover;
}